jupyter==1.0.0
panel==0.13.1
attrs==21.4.0
pathlib==1.0.1
wheel==0.37.1
brotli==1.0.9
brotlipy==0.7.0
pysocks==1.7.1
protobuf==3.20.1
pyopenssl==22.0.0
cryptography==37.0.1
py==1.11.0
pytest==7.1.2
lxml==4.9.1
pillow==10.2.0
docutils==0.18.1
sphinx==5.0.2
tornado==6.1
jinja2==2.11.3
keyring==23.4.0
setuptools==63.4.1
cython==3.0.6
future==0.18.2
pandas==1.4.4
matplotlib==3.5.2
numpy==1.24.3
scipy==1.9.1
scikit-learn==1.1.1
tushare==1.4.18
tabulate==0.8.10
pip~=22.2.2
dataclasses~=0.8
zlib~=1.2.13
openssl~=1.1.1w
filelock~=3.6.0
redis~=3.5.3
pyzmq~=23.2.0
colorama~=0.4.5
pexpect~=4.8.0
typing_extensions~=4.3.0
traitlets~=5.1.1
parso~=0.8.3
jedi~=0.18.1
zipp~=3.8.0
psutil~=5.9.0
debugpy~=1.5.1
ipython~=8.4.0
greenlet~=1.1.0
nose~=1.3.7
sqlalchemy~=1.4.39
decorator~=5.1.1
regex~=2022.7.9
pygments~=2.11.2
stack_data~=0.2.0
testpath~=0.6.0
matplotlib-inline~=0.1.6
osqp~=0.6.2
packaging~=21.3
pickleshare~=0.7.5
jupyter_client~=7.3.4
prompt_toolkit~=3.0.20
prompt-toolkit~=3.0.20
wcwidth~=0.2.5
ptyprocess~=0.7.0
twisted~=22.2.0
pycurl~=7.45.1
gettext~=0.21.0
six~=1.16.0
python-dateutil~=2.8.2
astroid~=2.11.7
asttokens~=2.0.5
executing~=0.8.3
ipykernel~=6.15.2
jupyter_core~=4.11.1
pure_eval~=0.2.2
requests~=2.28.1
platformdirs~=2.5.2
importlib_metadata~=4.11.3
importlib-metadata~=4.11.3
seaborn~=0.11.2
python-dotenv~=0.21.0