backtrader==1.9.74.123
jupyter==1.0.0
pip==22.2.2
panel==0.13.1
attrs==21.4.0
pathlib==1.0.1
wheel==0.37.1
brotli==1.0.9
brotlipy==0.7.0
pysocks==1.7.1
protobuf==3.20.1
pyopenssl==22.0.0
cryptography==37.0.1
py==1.11.0
pytest==7.1.2
lxml==4.9.1
pillow==10.2.0
docutils==0.18.1
sphinx==5.0.2
tornado==6.1
jinja2==2.11.3
keyring==23.4.0
setuptools==63.4.1
cython==3.0.6
future==0.18.2
pandas==1.4.4
matplotlib==3.5.2
numpy==1.24.3
scipy==1.9.1
scikit-learn==1.1.1
tushare==1.4.18
tabulate==0.8.10